.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: rgb(53, 50, 50);
  box-shadow: 0 0 10px gray;
  color: whitesmoke;
}

article img {
  max-width: 150px;
  aspect-ratio: 1;
}

button {
  display: block;
  margin: 24px auto;
  padding: 12px 16px;
  font-family: inherit;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgb(53, 50, 50);
  color: whitesmoke;
  border-radius: 8px;
  cursor: pointer;
}

button:focus {
  outline: 2px solid rgb(53, 50, 50);
  outline-offset: 2px;
}
